@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #212121;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #212121;
    --midground: #2C2C2C;
    --header: #FDFDFD;
    --text: #A9A9A9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
}

p {
  color: var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
